<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>
  <script src="js/js.js"></script>
	<script>
	window.onload = () => {
		let iter =[];
            $.get('/data', (res)=>{
				iter =res;
				for(const a of iter){
					//if(a['tel']) log(a['tel']);
				}
				log(filter((a)=>a['tel'], iter));
			})
	
	}
	</script>
</head>
<body>
	<p>curicuri</p>
	<p></p>
</body>
</html>